nav ul {
  list-style-type: none;
  display: inline;
  border-radius: 5px;
}
nav li {
  margin-left: 10px;
  float: left;
  display: inline;
  background-color: white;
  border-radius: 5px;
}
nav li:hover {
  background:rgb(103, 218, 218);
  color:white;
}
nav {
  position: sticky;
  top:0;
  border: 2px white;
  border-radius: 5px;
  background-color: white;
}
form#center > div {
  margin-top: 7px;
}
body {
  margin: 10px;
  font-size: large;
}
.fnone{
  display: none;
}
/* 400 550 1100 */
button{
  width: 100px;
  height: 30px;
  color:white;
  outline: none;
  border: none;
  background-color: rgb(38, 144, 214);
}
button:hover{
  background-color: rgb(103, 218, 218);
}
input{
  border: 2px;
  border-radius: 3px;
  border-color: black;
  background-color: rgb(190, 181, 181);
}
@media only screen and (max-device-width: 400px) {
  form label::after {
    content: "\a";
    white-space: pre;
  }
}
a{
  text-decoration: none;
  color: inherit; 
}
@media only screen and (max-device-width: 500px) {
  body {
    font-size: x-large;
  }
}
@media only screen and (max-device-width: 1100px) {
  body {
    font-size: xx-large;
  }
}
