h1,h2,h3,p {
    color: white;
    font-family: 'cwTeXYen', sans-serif;
}
.logout-button { 
	width: 50px; 
	height: max-content ;
	border-width: 0px;
	border-radius: 3px;
	background: #1E90FF; 
	cursor: pointer; 
	outline: none;
	font-family: Microsoft YaHei; 
	color: white; 
	font-size: 17px; 
}
.login-button:hover { 
	background: #5599FF;
}
input{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 14px 14px;
    width: 250px;
    font-size: 20px;
}
.center-block {
    background-color: white;
    text-align: center;
    margin: 5%;
    border-radius: 10px;
}
body {
    margin: 3%;
}
.add { 
	width: 20%; 
	height:max-content;
	border-width: 0px;
	border-radius: 3px;
	background: #1E90FF; 
	cursor: pointer; 
	outline: none;
	font-family: Microsoft YaHei; 
	color: white; 
	font-size: 17px; 
}
#msgblock{
	background-color: gray;
    margin: 5%;
    border-radius: 10px;
	height:fit-content;
	display: none;
}
.message-button{
	width: fit-content; 
	height: max-content;
	border-width: 0px;
	border-radius: 3px;
	background: #1E90FF; 
	cursor: pointer; 
	outline: none;
	font-family: Microsoft YaHei; 
	color: white; 
	font-size: 17px;
}
#top{
	color: white;
	background-color: turquoise;
	margin: 0px ;
	border-radius: 10px;
	height: 40px;
	font-size: 25px;
	display: none;
}